[Unit]
Description=YouTrack Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop youtrack
ExecStartPre=-/usr/bin/docker rm -f youtrack
ExecStartPre=/usr/bin/docker pull uniplug/youtrack:alpine
ExecStart=/usr/bin/docker run \
    --rm
    --name youtrack \
    --volume {{ youtrack_data_dir }}:/opt/youtrack/data/ \
    --volume {{ youtrack_backup_dir }}:/opt/youtrack/backup/ \
    --publish {{ youtrack_local_port }}:80 \
    uniplug/youtrack:alpine

[Install]
WantedBy=multi-user.target
