
[Unit]
Description=Jenkins Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop {{ jenkins_container_name }}
ExecStartPre=-/usr/bin/docker rm -f {{ jenkins_container_name }}
ExecStartPre=/usr/bin/docker pull jenkins:{{ jenkins_image_version }}
ExecStart=/usr/bin/docker run \
    --rm \
    --name {{ jenkins_container_name }} \
    --publish {{ jenkins_local_port }}:8080 \
    --volume {{ jenkins_directory }}:/var/jenkins_home:z \
    --tty jenkins:{{ jenkins_image_version }}

[Install]
WantedBy=multi-user.target
