[Unit]
Description=Npm registry Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop {{ registry_container_name }}
ExecStartPre=-/usr/bin/docker rm -f {{ registry_container_name }}
ExecStartPre=/usr/bin/docker pull verdaccio/verdaccio
ExecStart=/usr/bin/docker run \
    --rm \
    --publish {{ registry_http_port }}:4873 \
    --name {{ registry_container_name }} \
    --volume {{ registry_data_directory }}:/verdaccio \
    verdaccio/verdaccio

[Install]
WantedBy=multi-user.target
