[Unit]
Description=Gitlab Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop {{ gitlab_container_name }}
ExecStartPre=-/usr/bin/docker rm -f {{ gitlab_container_name }}
ExecStartPre=/usr/bin/docker pull gitlab/gitlab-ce:{{ gitlab_image_version }}
ExecStart=/usr/bin/docker run \
    --rm \
    --hostname {{ gitlab_hostname }} \
    --publish {{ gitlab_https_port }}:443 \
    --publish {{ gitlab_http_port }}:80 \
    --publish {{ gitlab_ssh_port }}:22 \
    --name {{ gitlab_container_name }} \
    --volume {{ gitlab_config_directory }}:/etc/gitlab:Z \
    --volume {{ gitlab_logs_directory }}:/var/log/gitlab:Z \
    --volume {{ gitlab_data_directory }}:/var/opt/gitlab:Z \
    gitlab/gitlab-ce:{{ gitlab_image_version }}

[Install]
WantedBy=multi-user.target
