
[Unit]
Description=OpenLDAP Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop ldap-service
ExecStartPre=-/usr/bin/docker rm -f ldap-service
ExecStartPre=/usr/bin/docker pull osixia/openldap
ExecStart=/usr/bin/docker run \
    --rm \
    --volume {{ ldap_data_dir }}:/var/lib/ldap \
    --name ldap-service \
    --hostname ldap-service \
    osixia/openldap

[Install]
WantedBy=multi-user.target
